<div class="container">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-secondary btn-lg" asp-controller="Sport" asp-action="Index">Maç Bileti</a>
        </div>
        <div class="col-4">
            <a class="btn btn-secondary btn-lg" asp-controller="Concert" asp-action="Index">Konser Bileti</a>
        </div>
        <div class="col-4">
            <a class="btn btn-secondary btn-lg" asp-controller="Theater" asp-action="Index">Tiyatro Bileti</a>
        </div>        
    </div>
</div>