<div class="container">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-secondary btn-lg" asp-controller="Sport" asp-action="Index">Maç İşlemi</a>
        </div>
        <div class="col-4">
            <a class="btn btn-secondary btn-lg" asp-controller="Concert" asp-action="Index">Konser İşlemi</a>
        </div>
        <div class="col-4">
            <a class="btn btn-secondary btn-lg" asp-controller="Theater" asp-action="Index">Tiyatro İşlemi</a>
        </div>
    </div>
</div>
